
/* twitter bootstrap, including custom variables */
@import 'bootstrap.less';


/* paths */
@font-dir: '/assets/font';
@img-dir: '/assets/img';


/* font icons */
@font-face
{
	font-family : 'icomoon';
	font-style : normal;
	font-weight : 400;
	src : url("@{font-dir}/icomoon.eot");
	src : url("@{font-dir}/icomoon.eot?#iefix") format('embedded-opentype'),
		url("@{font-dir}/icomoon.woff") format('woff'),
		url("@{font-dir}/icomoon.ttf") format('truetype'),
		url("@{font-dir}/icomoon.svg#icomoon") format('svg');
}

[class*='icon-']::before
{
	-webkit-font-smoothing : antialiased;
	font-family : 'icomoon';
	font-style : normal;
	font-variant : normal;
	font-weight : 400;
	line-height : 1;
	margin-right : 5px;
	speak : none;
	text-transform : none;
}

.icon-locked::before
{
	color : #778899;
	content: '\e000';
}

.icon-protected::before
{
	color : #4979b9;
	content: '\e001';
}

.icon-wikied::before
{
	color : #2F4F4F;
	content: '\e002';
}

.icon-accepted::before
{
	color : #46b525;
	content: '\e003';
}

.icon-arrow-up::before
{
	color : #333;
	content: '\e004';
}

.icon-arrow-down::before
{
	color : #333;
	content: '\e005';
}


/* global styles */

* {font-family : 'Droid Sans', 'sans-serif' !important;}

html
{
	margin : 0 auto;
	max-width : 1000px;
}

body
{
	margin : 10px;
}

legend
{
	font-size : medium;
	font-weight : 700;
	line-height : 25px;
}

h1
{
	border-bottom : 1px solid #e5e5e5;
	font-size : 30px;
	margin-top : 0;
	padding-bottom : 10px;

	img
	{
		height : 55px;
		margin-right : 10px;
		width : 55px;
	}

	a, a:hover
	{
		color : #333;
		text-decoration : none;
	}

	small {font-size : small;}
}

#data-sources
{
	float : right;
	text-align : right;
	line-height : 25px;
	width : 105px;

	strong
	{
		border-bottom : 1px solid #e5e5e5;
		padding-bottom : 5px;
		white-space : nowrap;
	}

	small {margin : 0 5px;}
}

#questions-timestamp {margin-left : 5px;}

#sticky-container
{
	margin-top : 35px;
	min-height : 63px;

	#data-table-head
	{
		border : 0;
		margin-bottom : 0;
		background-color : #fff;

		&.sticky
		{
			max-width : 980px;
			position : fixed;
			top : 0;
			z-index : 25; /* fix for Firefox 'text-overflow : ellipsis' bug */

			thead tr:nth-child(1) th:nth-child(1) {visibility : visible;}

		}

		thead
		{
			tr
			{
				&:nth-child(1)
				{
					th:nth-child(1)
					{
						padding : 0;

						.goto-top
						{
							display : block;
							height : 31px;
							padding-top : 5px;
							text-decoration : none;

							&::before {font-size : 16px;}
						}
					}

					th:nth-child(2)
					{
						padding-right : 10px;
						text-align : right;

						strong {margin : 0 5px 0 15px;}
					}

					th:nth-child(3)
					{
						border-top : 1px solid #e5e5e5;
						width : 174px;
					}

					th:nth-child(1), th:nth-child(2)
					{
						background-color : transparent;
						border : 0;
						border-left : 1px solid #fff;
						font-weight : 400;
					}

					th:nth-child(1) {visibility : hidden;}
				}

				&:nth-child(2)
				{
					th:nth-child(1) {width : 65px;}
					th:nth-child(3), th:nth-child(4), th:nth-child(5) {width : 58px;}
				}

				th
				{
					background-color : #f8f8ff;
					border-width : 1px;
					text-align : center;
				}
			}
		}
	}
}

#data-table
{
	border : 0;
	table-layout : fixed;

	tbody
	{
		tr
		{
			&:nth-child(1)
			{
				& > td {border-top : 0;}

				&.error-message > td
				{
					color : #b94a48;
					font-weight : 700;
					padding : 25px;
				}
			}

			td
			{
				border-width : 1px;
				text-align : center;

				&:nth-child(2)
				{
					text-align : left;
					padding : 0;
					white-space : nowrap;

					a
					{
						display : block;
						padding : 5px;
						text-decoration : none;

						span
						{
							display : inline-block;
							overflow : hidden;

							/* hack to prevent LessPHP from mangling calc() */
							max-width : ~"-moz-calc(100% - 107px)";
							max-width : ~"-webkit-calc(100% - 107px)";
							max-width : ~"calc(100% - 107px)";

							text-overflow : ellipsis;
							vertical-align : middle;
						}

						i {margin-left : 5px;}
					}
				}

				&:nth-child(1) {width : 65px;}
				&:nth-child(3), &:nth-child(4), &:nth-child(5) {width : 58px;}
				a::visited {color : @linkColorVisited;}
			}

			&.adelv > td {background-color: @state-autodelete-bg;}
			&.cv > td {background-color: @state-warning-bg;}
			&.delv > td {background-color: @state-danger-bg;}
			&.ro > td {background-color: @state-success-bg;}
			&.rv > td {background-color: @state-info-bg;}

			&.adelv:hover > td {background-color: darken(@state-autodelete-bg, 5%);}
			&.cv:hover > td {background-color: darken(@state-warning-bg, 5%);}
			&.delv:hover > td {background-color: darken(@state-danger-bg, 5%);}
			&.ro:hover > td {background-color: darken(@state-success-bg, 5%);}
			&.rv:hover > td {background-color: darken(@state-info-bg, 5%);}
		}
	}

	&.hide-adelv .adelv, &.hide-cv .cv, &.hide-delv .delv,
	&.hide-ro .ro, &.hide-rv .rv {display : none;}
}

#options-form
{
	float : left;
	line-height : 30px;
	margin : 0 50px 0 0;

	label
	{
		border-radius : 4px;
		font-weight : 400;
		line-height : 20px;
		margin-right : 15px;
		padding : 0 5px;

		&.adelv {background-color : @state-autodelete-bg;}
		&.cv {background-color : @state-warning-bg;}
		&.delv {background-color : @state-danger-bg;}
		&.ro {background-color : @state-success-bg;}
		&.rv {background-color : @state-info-bg;}

		input {margin-right : 5px;}
	}

	select
	{
		width : 42px;
		height : 20px;
		padding : 0;
	}

	button {margin-left : 15px;}
	strong {margin-right : 15px;}
}

#legend
{
	span
	{
		line-height : 30px;
		padding-right : 20px;
	}
}

#footer {text-align : center;}
