{% set dev_dir = APP_ENV is same as ('dev') ? '/dev' : '' %}
<script src='{{ asset('assets/js' ~ dev_dir ~ '/form_options.js') }}'></script>
<script src='{{ asset('assets/js' ~ dev_dir ~ '/table_sorter.js') }}'></script>
<script src='{{ asset('assets/js' ~ dev_dir ~ '/main.js') }}'></script>
</body>
</html>
